/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	font-family: 'Proza Libre', sans-serif;
}

h1 {
	font-size: 250%;
	font-weight: bold;
}


/*-------- Main Styles --------*/


#main {
	width: 100%;
}


input {
	border-radius: 3px;
	width: 100%;
	min-height: 48px;
	padding: 14px;
	border: 1px thin #CCC;
}
textarea {
	border-radius: 3px; 
	width: 100%;
	min-height: 100px;
	border: 1px;
	border-color: #CCC;
}


.form {
	float: left;
	max-width: 500px;
	background-color: #E3E6EC;
	padding: 25px;
	margin: 5px;
}

.containerResults {
	float: right;
}



/*-------- Form Styles --------*/


.row {
	margin-top: 10px;
	margin-bottom: 3px;
}

.formGroup {
	width: 100%;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 2px;
}

#radio2 {
	text-indent: 5px;
}

#verb-1 {
	height: 48px;
	padding: 14px;
	width: 100%;
	border: 1px #CCC;
}

.button{
	float: right;
	font-weight: bold;
	background-color: rgba(39, 208, 127, 51);
	float: right;
	width: 80px;
	border-radius: 3px;
}

.button:hover {
	background-color: rgba(39, 208, 127, 1);
}



/*-------- Results Styles --------*/


.results {
	width: 100%;
	max-width: 500px;
	background-color: #C8DBB3;
	padding: 5px;
}


